<!-- Validation failure messages -->
<% if @friendship.errors.any? %>
  <% @friendship.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Friendship</h3>
</div>

<div class="row">
  <div class="col-md-12">

    <form action="/create_friendship" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">



      <!-- Label and input for user_id_1 -->

      <div class="form-group">

        <input type="hidden" id="user_id_1" name="user_id_1" placeholder="User id 1" class="form-control" value="<%= current_user.id %>">

      </div>



      <!-- Label and input for user_id_2 -->

      <div class="form-group">
        <label for="user_id_2" class="control-label">
          Friend to add:
        </label>

        <%= select_tag(:user_id_2, options_from_collection_for_select(User.all.where.not(id: current_user.id), :id, :email, @friendship.user_id_2), :class => "form-control") %>

      </div>

      <div class="form-group">
        <label for="message" class="control-label">
          Mesage
        </label>

        <input type="text" id="message" name="message" class="form-control" value="I would like to add you as a friend :)">

      <!-- Label and input for relationship -->

      <div class="form-group">

        <input type="hidden" id="relationship" name="relationship"  class="form-control" value="default">

      </div>

      <div class="form-group">

        <input type="hidden" id="status" name="status" class="form-control" value="3">

        <!-- 1=Accept 2=Reject 3=Pending -->

      </div>


      <button class="btn btn-success">
        Send request
      </button>
      or
      <a href="/friendships">Cancel</a>

    </form>

  </div>
</div>
